<h3><i class="fas fa-book-reader"> StoryBooks</i></h3>
<div class="section">
  <div class="lead">Create public and private stories from your life!</div>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> log in with google</i>
  </a>
</div>